name: Agile Workflow

on:
  push:
    paths:
    - 'agile/**'

jobs:

  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python: [ '2.7', '3.*' ]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python }}

    - name: Install dependencies
      working-directory: ./agile
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Lint with flake8
      working-directory: ./agile
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Generate rulesets
      working-directory: ./agile
      env:
        DOME9_ACCESS_KEY: ${{ secrets.DOME9_ACCESS_KEY }}
        DOME9_SECRET_KEY: ${{ secrets.DOME9_SECRET_KEY }}
      run: |
        python dome9agile.py